.page { min-block-size: 100%; padding-block-end: var(--theme--spacing-space3xl); width: 100%; }
.content, .header { width: 100%; }
.heading { max-inline-size: var(--theme--layout-container-md); }
@media (max-width: 760px) { .page { padding-block-end: var(--theme--spacing-spaceXl); } }
