.root {
  display: grid;
  gap: var(--theme--spacing-spaceLg);
  padding-block: var(--theme--spacing-space2xl) var(--theme--spacing-space2xl);
}

.root[data-compact="true"] {
  gap: var(--theme--spacing-spaceMd);
  padding-block: var(--theme--spacing-spaceLg);
}

@media (max-width: 760px) {
  .root {
    gap: var(--theme--spacing-spaceMd);
    padding-block: var(--theme--spacing-spaceLg) var(--theme--spacing-spaceXl);
  }

}
