.grid {
  display: grid;
  gap: var(--theme--spacing-spaceLg);
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid[data-compact="true"] {
  gap: var(--theme--spacing-spaceSm);
  transition: gap var(--theme--motion-durationLg) ease;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(3, minmax(var(--theme--dimensions-minWidth-3xl), 1fr));
    overflow-x: auto;
    padding-block-end: var(--theme--spacing-space2xs);
    scroll-snap-type: x mandatory;
  }

}

@media (max-width: 760px) {
  .grid {
    gap: var(--theme--spacing-spaceXs);
  }

}
